{{ hostvars['server'].ansible_host }} server.kubernetes.local server
{{ hostvars['node-0'].ansible_host }} node-0.kubernetes.local node-0 {{ hostvars['node-0'].pod_cidr }}
{{ hostvars['node-1'].ansible_host }} node-1.kubernetes.local node-1 {{ hostvars['node-1'].pod_cidr }}